body {
    background-color: #e1e1e1;
}
h3{
  
  font-family: Verdana,sans-serif;
  color: #f0a500;
  display:-ms-flexbox; 
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
    
.one{
    display:-ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  .icon {
    padding: 10px;
    background: rgb(255, 253, 253);
    color: rgb(104, 102, 102);
    min-width: 50px;
    text-align: center;
    border: 1px solid ;
    width: 20px;
  }
  
  .input-field {
    
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid rgb(216, 222, 228);
  }  
  .custom-select{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top:-100px;
  }
  
  .two{
  position: relative;
  float:right;
  top: -100px;
   }
  
   
.icon-container{
  position: relative;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: blue;
}
.card{
  display:-ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.visa{
  padding: 10px;
    background: rgb(185, 185, 185);
    color: white;
    min-width: 50px;
    text-align: center;
}
.at{
  width: 100%;
  padding: 10px;
  outline: none;
}

.at:focus {
  border: 2px solid rgb(216, 222, 228);
}  
  
.exp{
  position: relative;
  float:right;
  top: -50px;
}
.four{
  position: relative;
  top: -10px;
}
.six{
  position: relative;
 
  top: -70px;
}
.five button {
  background-color: #f7f7f7; /* Green background */
  border: 1px solid rgb(0, 0, 0); /* Green border */
  color: rgb(35, 35, 35); /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float:right;
}

.sty button{
  padding: 10px 24px; /* Some padding */
  border: 1px solid rgb(10, 10, 10);  
  top: -500px;

}
